ion-label {
    color: rgb(55, 185, 57);
    font-size: 900px;
    font-weight: 300;
}

ion-item {

    margin: 100;
    font-size: large;
}

ion-item {

    margin-top: 70px;
}

ion-button {
    --ion-color-primary: #1b9e72;
    ;

    margin-top: 80px;

}