<ion-header>
  <ion-toolbar>
    <ion-title>Subscribe to the course</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding jj">

  <!-- <ion-button (click)="navigate()" expand="block">Inscription</ion-button> -->


  <ion-item> 
    <ion-label class="ah" position="stacked"><ion-icon name="person"></ion-icon>   First Name :  </ion-label>
    <ion-input [(ngModel)]='firebasename1'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> <ion-icon name="person"></ion-icon>   Last Name : </ion-label>
    <ion-input [(ngModel)]='firebasename2'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> <ion-icon name="mail"></ion-icon>   Email : </ion-label>
    <ion-input [(ngModel)]='firebasemail'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><ion-icon name="call-outline"></ion-icon>   Mobile : </ion-label>
    <ion-input [(ngModel)]='firebasemobile'></ion-input>
  </ion-item>

<ion-button (click)="nextpage()" expand="block">Submit</ion-button>

</ion-content>